:root {
  --gray50: #7f7f7f;
  --offwhite: #f6f6f6;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}

body {
  font-family: Courier, monospace, "Courier New";
  background-color: var(--offwhite);
}

body p {
  line-height: 24px;
  font-size: 1.6rem;
}

a {
  color: black;
}

li:focus,
a:focus {
  border: none;
  outline: none;
}

#main-wrapper {
  padding: 10vh 10vw;
}

.sections {
  display: flex;
}

.l-cols,
.r-cols {
  width: 50vw;
  padding: 1.2rem;
}

.l-cols {
  text-align: right;
  border-right: 1px solid black;
}

.r-cols {
  text-align: left;
  border-left: 1px solid black;
}

#mepick {
  max-width: 250px;
}

ul,
ul li {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 22px;
}

ul.index li {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}

ul.index li::marker,
.custom-marker {
  color: var(--gray50);
  font-size: 1.2rem;
}

ul.projects,
ul.setup,
ul.links {
  list-style: none;
}

ul li:hover,
ul li:hover a {
  background-color: black;
  color: var(--offwhite);
  text-decoration: none;
}

#main-header,
.section-headers {
  color: var(--offwhite);
  background-color: black;
  text-transform: uppercase;
}

#main-header {
  margin: 1rem 0;
  padding: 2px 6px 0 6px;
  font-size: 2rem;
}

#sub-main-header {
  display: inline-block;
  padding: 3px 1px 1px 1px;
  font-size: 1.6rem;
}

.section-headers {
  padding: 2px 6px 0 6px;
  font-size: 2rem;
}

/* [Small Devices] */
@media screen and (max-width: 600px) {
  #main-wrapper {
    padding: 6vh 4vw;
  }

  #mepick {
    max-width: 100%;
  }

  .sections {
    flex-direction: column;
  }

  .l-cols,
  .r-cols {
    width: 100%;
  }

  .section-headers {
    text-align: left;
  }
}
