:root {
  /* gray50 */
  --gray50: #7f7f7f;
  /* offwhite */
  --offwhite: #f6f6f6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Courier, monospace;
  background-color: var(--offwhite);
  padding: 10px;
}

body p, .setup li {
  line-height: 24px;
  font-size: 16px;
}

#main-wrapper {
  padding: 10vh 10vw;
}

.sections {
  display: flex;
}

.l-cols,
.r-cols {
  width: 50vw;
  padding: 12px;
}

.l-cols {
  text-align: right;
  border-right: 1px solid black;
}

.r-cols {
  text-align: left;
  border-left: 1px solid black;
}

@media screen and (max-width: 600px) {
  .sections {
    flex-direction: column;
  }

  .l-cols,
  .r-cols {
    width: 100%;
  }
}

ul.index,
ul.projects,
ul.setup {
  padding-left: 0;
}

ul.index li {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  text-transform: capitalize;
}

ul.index,
ul.projects {
  font-size: 14px;
  line-height: 22px;
}

ul.projects,
ul.setup,
.sub-lists {
  list-style: none;
}

ul.index li::marker, .tags {
  color: var(--gray50);
}

ul.index li:hover,
ul.index li:hover a,
ul.projects li:hover,
ul.projects li:hover a {
  background-color: black;
  color: var(--offwhite);
  text-decoration: none;
}

.index-links,
.project-links {
  color: black;
}

h2,
h4 {
  /* margin: 0; */
  color: var(--offwhite);
  background-color: black;
  padding: 4px;
}